@use "../ds-system/ds-colors";
@use "../ds-system/ds-shadows";
@use "../ds-system/ds-typography";


.header__logout {
  &::before {
    display: inline-block;

    width: 32px;
    height: 32px;
    margin-right: 8px;

    content: '';
    vertical-align: middle;

    background: url(../img/login.svg) no-repeat center;
    background-size: auto 50%;
  }
}



